@model AspNetCoreWebDemo_MVC.Models.Employee
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";

    var emp = ViewData["Employee"] as AspNetCoreWebDemo_MVC.Models.Employee;
}

    <h3>@ViewBag.PageTitle</h3>

    <div>Name: @emp.Name</div>
    <div>Email: @Model.Email</div>
    <div>Department: @ViewBag.Employee.Department</div>
